<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tweet wallet</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/314d085fdf.js" crossorigin="anonymous"></script>
        <!-- Favicons -->


        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /*primary-color: #006600;
        secondary-color: #003300;

        #309030
      */

            .navbar-toggler {
                background-color: #309030 !important;
            }

            body {
                background-color: #eafbea;
            }

            .jumbotron {
                background-color: rgb(158, 163, 158);
            }

            .green-gradient {
                background-image: -webkit-linear-gradient(286deg, #90cc41, #21954a);
                background-image: linear-gradient(164deg, #90cc41, #21954a);
            }

            footer {
                background-color: #309030;
            }

            footer a {
                font-size: 14px !important;
            }

            .icon {
                font-size: 32px !important;
                color: #309030;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            @media (max-width: 400px) {
                .h5-text {
                    font-size: 14px;
                }

                .h4 {
                    font-size: 20px !important;
                }
            }
        </style>
    </head>
    <body class="text-center">

        <form action="/admin/register" method="POST" class="pt-4 needs-validation" novalidate>
            <div class="container w-100 d-flex pt-5 justify-content-center">
                <div class="w-75">
                    <h1 class="h4 mb-4 text-left text-secondary font-weight-bold">Let's get you started with your
                        Tweetwallet
                        account</h1>
                    <div>
                        <%- include('partials/messages') %>
                        <div class="row">
                                <div class="text-left mb-3">
                                    <label class="m-0" for="username">Admin</label>
                                    <input type="text" name="admin" class="form-control" id="admin"
                                        placeholder="Admin"
                                        value="<%= typeof admin != 'undefined' ? admin : '' %>" required>
                                </div>
                            </div>
                


                        <div class="mb-3 text-left">
                            <label class="m-0" for="password">Password</label>
                            <input type="password" name="password" id="inputPassword"
                                value="<%= typeof password != 'undefined' ? password : '' %>" class="form-control"
                                placeholder="Password" required="">
                        </div>


                    </div>
                    <button class="btn m-3 btn-success h5-text" type="submit">Get started</button>

                </div>
            </div>
        </form>
        <p class="lead mb-3 pb-5">
            Have an account? <a href="/users/login">Login</a>
        </p>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>

        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
        </script>
    </body>
</html>
