<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tweet wallet | Dashboard</title>
        <a href="http://"></a>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/314d085fdf.js" crossorigin="anonymous"></script>
        <!-- Favicons -->



        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                background: #eafbea;
            }

            nav {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                z-index: 3;
            }

            .imgnone {
                display: none;
            }

            .nav-item span {
                display: block;
            }

            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                text-align: center;
            }

            .current {
                background-color: #eafbea;
                border-radius: 5px;
            }

            .current {
                display: inherit;
            }

            .current i {
                color: green;
            }

            .username {
                font-size: 24px;
                font-weight: 600;
            }

            .fa-user-circle {
                font-size: 42px;
            }

            .shield {
                display: block;
            }

            .shield i {
                font-size: 32px;
            }

            .mercury {
                background-color: rgb(224, 242, 250);
            }

            .venus {
                background-color: rgb(250, 231, 224);
            }

            .earth {
                background-color: rgb(213, 213, 245);
            }

            .mars {
                background-color: rgb(255, 249, 224);
            }

            .sun {
                background-color: rgb(212, 255, 216);
            }

            .plan {
                font-size: 14px;
            }

            .plan>div {
                padding: 1rem;
            }

            .plan p {
                margin-bottom: 6px;
            }

            .plan .icon {
                font-size: 32px;
            }

            .currentplan {
                border: 1px solid green;
                padding: 16px;
                border-radius: 6px;
            }

            .cplan {
                font-weight: 100;
                font-size: 13px;
            }

            .todaytask::before {
                content: "";
                background-color: rgba(0, 102, 0, 0.278);
                bottom: 0;
                height: 15px;
                width: 150px;
                position: absolute;
                z-index: -1;
            }

            .todaytask {
                position: relative;
                z-index: 1;
            }

            .withdrawss {
                border: 1px solid green;
                padding: 16px;
                border-radius: 6px;
            }

            .amount {
                font-size: 32px;
            }

            .copy {
                font-size: 16px;
            }

            .back a {
                background: #ccc;
                color: rgb(126, 114, 114);
                padding: 8px 16px;
                border-radius: 7px;
                text-decoration: none;
            }


            /*primary-color: #006600;
        secondary-color: #003300;

        #309030
      */

            /* @media (min-width: 1030px) {
                nav {
                    position: fixed;
                    left: 0 !important;
                    background-color: #fff;
                    z-index: 1;
                    width: 250px;
                    height: 100vh;
                    padding-top: 25px;
                }
                
               nav a{
                    display: block!important;
                }

                  ul {
                  list-style: none;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin: 25px;
                  text-align: center;
                  }

                  main{
                      width: calc(100%-250px)!important;
                      margin: auto!important;
                      position: absolute;
                      right: 10%;
                      overflow: auto;
                  }
            } */

        </style>
    </head>
    <body>
        <nav class="shadow-sm">
            <a class="imgnone" href="index.html">
                <img src="img/TweetWallet green.jpg" width="200" height="50" alt="">
            </a>

            <ul>
                <li class="nav-item navigation current" data-tab="tab-1">
                    <a class="nav-link link-text text-ref text-muted" href="/dashboard"><span><i
                                class="fas fa-rocket"></i></span> Choose a plan</a>
                </li>
                <li class="nav-item navigation" data-tab="tab-2">
                    <a class="nav-link link-text text-ref text-muted" href="/task"><span><i
                                class="fas fa-life-ring"></i></span> Overview</a>
                </li>
                <li class="nav-item navigation" data-tab="tab-3">
                    <a class="nav-link link-text text-ref text-muted" href="/withdraw"><span><i
                                class="fas fa-money-check"></i></span> Withdraw</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="mt-4">
            <div class="container">
                <header class="row justify-content-between pt-4 pl-3 pr-3 pb-5">
                    <div>
                        <span class="text-muted">Howdy</span> <span class="username"> <%= user.username %>
                            &#9995;</span>
                    </div>

                    <div>

                        <a class="pr-1" href="/profile/<%= user.id %>"><i class=" fas text-success fa-user-circle">

                            </i></a>
                    </div>
                </header>
                <%- include('partials/messages') %>

                <div class="alert alert-dismissible font-weight-lighter alert-info mt-2">

                    Welcome back🤗

                </div>
                <!--CHOOSE A PLAN-->
                <div id="tab-1" class=" pb-5 mb-5">
                    <h5 class="pl-1 text-muted text-uppercase">Choose a plan</h5>
                    <div class="row mb-4">
                        <div class="col-sm-6 mb-3 plan">
                            <div class="mercury">
                                <div class="icon text-info"><i class="fas fa-mercury"></i></div>
                                <h5 class="font-weight-bold" data-plan="Mercury">Mercury</h5>

                                <p class="">Fee: 2,500 Naira</p>
                                <p class=""><span class="">Target:</span> 3 Rts or 3 Likes
                                </p>
                                <p class=""><span class="">Daily Revenue:</span> 150 Naira
                                </p>
                                <a href="https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20MERCURY%20plan"
                                    target="_blank" class="btn btn-info btn-sm" rel="noopener
                                   noreferrer">Subscribe <i class="fas fa-long-arrow-alt-right text-white"></i></a>



                            </div>
                        </div>

                        <div class="col-sm-6 mb-3 plan">
                            <div class="venus">
                                <div class="icon text-danger"><i class="fas fa-venus"></i></div>
                                <h5 class="font-weight-bold" data-plan="Venus">Venus</h5>

                                <p class="">Fee: 5,000 Naira</p>
                                <p class=""><span class="">Target:</span> 3 Rts or 3 Likes
                                </p>
                                <p class=""><span class="">Daily Revenue:</span> 300 Naira
                                </p>
                                <a href="https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20VENUS%20plan"
                                    target="_blank" class="btn btn-danger btn-sm" rel="noopener
                                   noreferrer">Subscribe <i class="fas fa-long-arrow-alt-right text-white"></i></a>



                            </div>
                        </div>

                        <div class="col-sm-6 mb-3 plan">
                            <div class="earth">
                                <div class="icon text-primary"><i class="fas fa-globe-africa"></i></div>
                                <h5 class="font-weight-bold" data-plan="Earth">Earth</h5>

                                <p class="">Fee: 10,000 Naira</p>
                                <p class=""><span class="">Target:</span> 3 Rts or 3 Likes
                                </p>
                                <p class=""><span class="">Daily Revenue:</span> 600 Naira
                                </p>
                                <a href="https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20EARTH%20plan"
                                    target="_blank" class="btn btn-primary btn-sm" rel="noopener
                                   noreferrer">Subscribe <i class="fas fa-long-arrow-alt-right text-white"></i></a>

                            </div>
                        </div>

                        <div class="col-sm-6 mb-3 plan">
                            <div class="mars">
                                <div class="icon text-success"><i class="fas fa-mars"></i></div>
                                <h5 class="font-weight-bold" data-plan="Mars">Mars</h5>

                                <p class="">Fee: 30,000 Naira</p>
                                <p class=""><span class="">Target:</span> 3 Rts or 3 Likes
                                </p>
                                <p class=""><span class="">Daily Revenue:</span> 1800 Naira
                                </p>
                                <a href="https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20MARS%20plan"
                                    target="_blank" class="btn btn-success btn-sm" rel="noopener
                                   noreferrer">Subscribe <i class="fas fa-long-arrow-alt-right text-white"></i></a>

                            </div>
                        </div>

                        <div class="col-sm-6 mb-3 plan">
                            <div class="sun">
                                <div class="icon text-warning"><i class="fas fa-sun"></i></div>
                                <h5 class="font-weight-bold" data-plan="Sun">Sun</h5>

                                <p class="">Fee: 60,000 Naira</p>
                                <p class=""><span class="">Target:</span> 3 Rts or 3 Likes
                                </p>
                                <p class=""><span class="">Daily Revenue:</span> 3600 Naira
                                </p>
                                <a href="https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20SUN%20plan"
                                    target="_blank" class="btn btn-warning btn-sm" rel="noopener
                                   noreferrer">Subscribe <i class="fas fa-long-arrow-alt-right text-white"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <script src="js/dashboard.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
        </script>
        <script src="js/app.js"></script>
    </body>
</html>
